<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MonitoringBrokerService" connectionString="Server=192.168.12.8;Database=VoicerPlatformQueue;User Id=usr_indigo;Password=!nd!g0s0ft;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>